.app__chef-content{
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
}

.chef-content-quote{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.chef-content-quote img{
    width: 47px;
    height: 40px;
    margin: 0 1rem 1rem 0;
}
.chef-content-sign p:first-child{
    font-family: var(--font-base);
    font-weight: 400;
    font-size: 32px;
    line-height: 41.6px;
    letter-spacing: .04em;
    text-transform: capitalize;
    color: var(--color-golden);
}

.chef-content-sign img{
    width: 250px;
   margin-top: 3rem;
}

@media screen and (max-width:2000px){
    .chef-content-sign img{
       width: 370px;
    }
}


@media screen and (max-width:450px){
    .chef-content-sign img{
       width: 80%
    }
}