.app__specialMenu{
    flex-direction: column;
    background-color: var(--color-black);
}
.app__specialMenu-header{
    text-align: center;
    flex-direction: column;
}
.app__specialMenu-menu{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 2rem 0;
}
.app__specialMenu-menu-wines{
    flex:1;
    width: 100%;
}

.app__specialMenu-menu-heading{
    color: var(--color-white);
    font-family: var(--font-base);
    font-size: 45px;
    font-weight: 500;
    margin: 1rem 0 2rem 0;
    line-height: 58px;
    letter-spacing: 0.04em;
    text-align: center;
}


.app__specialMenu-img{
    flex:1;
    width: 100%;
    margin: 0 1.5rem;
}
.app__specialMenu-img img{
    width: 100%;
    height: auto;
}
.app__specialMenu-menu-cocktails{
    flex:1;
    width: 100%;
}


@media screen and (max-width:1150px){
    .app__specialMenu-menu{
        flex-direction: column;
    }
    .app__specialMenu-img{
        margin: 2rem 0;
    }
    .app__specialMenu-img img{
        width: 60%;
    }
}
@media screen and (max-width:650px){
    .app__specialMenu-menu-heading{
        font-size:35px;
    }
    .app__specialMenu-img img{
        width: 90%;
    }
}